<!-- <div class="Makesproduct">
    <img class="imgbrand" [src]="carAgency.imageurl" alt="">
    <h3 class="titleBrand">BMW Egypt</h3>
    <span>Opens From {{carAgency.starttime.hours + ":" + carAgency.starttime.minutes}} to {{carAgency.endtime.hours + ":" + carAgency.endtime.minutes}}</span>
    <div class="ad_con">
        <div>
            <img src="./assets/Site_Images/phone.svg" alt="">
            <p>{{carAgency.phonenumber}}</p>
        </div>
        <div>
            <img src="./assets/Site_Images/location.svg" alt="">
            <p> {{carAgency.Address}}</p>
        </div>
    </div>
</div> -->
<div class="Makesproduct">
    <img class="imgbrand" [src]=''alt="">
    <h3 class="titleBrand">BMW Egypt</h3>
    <span>Opens From  + ":" + to  + ":" + </span>
    <div class="ad_con">
        <div>
            <img src="./assets/Site_Images/phone.svg" alt="">
            <p></p>
        </div>
        <div>
            <img src="./assets/Site_Images/location.svg" alt="">
            <p> </p>
        </div>
    </div>
</div>