<!-- Start footer -->

<div class="footer">
    <div class="background-images bottomcircle">
        <img src="./assets/Site_Images/ss.svg" alt="">
    </div>
    <div class="container-fluid normal_width">

        <div class="flexFooter">
            <div class="ourApp">
                <p>Our App</p>
                <div class="imgApp">
                    <img src="./assets/Site_Images/appleStore.png">
                    <img src="./assets/Site_Images/googlePlay.png">
                </div>
            </div>
            <div class="listfooterCa">
                <ul class="contFooter">
                    <li class="itemFooter">
                        <a>About</a>
                    </li>
                    <li class="itemFooter">
                        <a>Agency</a>
                    </li>
                    <li class="itemFooter">
                        <a>Dealers</a>
                    </li>
                    <li class="itemFooter">
                        <a>Support</a>
                    </li>
                    <li class="itemFooter">
                        <a>Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyRight">
            <p>{{'@'}}2021 All Rights © 2021. All Rights Reserved</p>
            <p> Use Of This Site Constitutes Acceptance Of Our User Agreement (Updated 5/25/18) And Privacy Policy And Cookie Statement (Updated 5/25/18). Ad Choices. Your California Privacy Rights The Material On This Site May Not Be Reproduced, Distributed,
                Transmitted, Cached Or Otherwise Used, Except With The Prior Written Permission Of American City Business Journals.Recived</p>
        </div>

    </div>
</div>

<!-- end footer -->