<app-slider-with-taps></app-slider-with-taps>

<app-car-filter></app-car-filter>
<!-- Start Car Makes -->
<div class="carMakes">
    <div class="container-fluid normal_width">
        <div class="sectionHeader">
            <h2>
                Car Makes
            </h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-car-agency></app-car-agency> 
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="col-md-3">
                <app-car-agency></app-car-agency>
            </div>
            <div class="more">
                <a routerLink="Agency">See All <img src="./assets/Site_Images/more.svg" alt=""></a>
            </div>

        </div>
    </div>

</div>
<!-- End Car Makes -->

<app-dealers-map></app-dealers-map>