<!-- Start Map Car Dealers-->

<div class="mapArea">
    <div class="container-fluid normal_width">
        <div class="sectionHeader">
            <h2>
                Car Dealers
            </h2>
        </div>
        <div class="maplocation">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1000070.8441997725!2d47.05360991896933!3d29.27294562714534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fc5363fbeea51a1%3A0x74726bcd92d8edd2!2sKuwait!5e0!3m2!1sen!2seg!4v1606995175861!5m2!1sen!2seg"
                width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="more">
            <a routerLink="Dealer">See All <img src="./assets/Site_Images/more.svg" alt=""></a>
        </div>
    </div>
</div>
<!-- end Map Car Dealers-->
