<div class="aboutus">
    <div class="container-fluid normal_width ">
        <div class="titleSell">
            <img src="../../Site_Images/homeSell.svg" alt="">
            <img src="../../Site_Images/arrowSell.svg" alt="">
            <p>About</p>
        </div>
        <div class="aboutPage">

            <div class="aboutPage_container">
                <h2>About Wagon</h2>
                <p>Wagon is the dominant automotive portal in Egypt. For over 30 years, wagon has been pioneering the digital transformation of the automotive industry providing consumers a portfolio of products and services that make the buying and
                    selling experience simple and user-friendly. As part of our continuous innovation drive, 2022 marks a milestone in which wagon is re-launching its website and app as well as adding a host of new services for both consumers and
                    dealers bringing the entire automotive ecosystem closer together and further simplifying the process of buying, selling, or owning a vehicle. Wagon is the dominant automotive portal in Egypt. For over 30 years, wagon has been pioneering
                    the digital transformation of the automotive industry providing consumers a portfolio of products and services that make the buying and selling experience simple and user-friendly. As part of our continuous innovation drive, 2022
                    marks a milestone in which wagon is re-launching its website and app as well as adding a host of new services for both consumers and dealers bringing the entire automotive ecosystem closer together and further simplifying the process
                    of buying, selling, or owning a vehicle.

                </p>
            </div>
        </div>



    </div>
</div>
