 <!--################# Start  Container Slider #################-->
    <!-- Start screen slider  -->
    <div class="screen_slider">

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="screen-slider-info">
                        <p class="headdicr">Search For </p>

                        <h2 class="bodydicr">
                            Any Wagon You Want
                        </h2>
                        <p class="bottomdicr">
                            Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                        </p>
                        <div class="button_gruop_slider">
                            <button class="btnSlider">
                                    Buy
                                </button>
                            <button (click)="goSellCar()" class="btnSlider sell">
                                    sell
                                </button>
                        </div>
                    </div>
                    <img src="./assets/Site_Images/busSliderIcon.svg" title="bus" />

                </div>
                <div class="swiper-slide">
                    <div class="screen-slider-info">
                        <p class="headdicr">Search For </p>

                        <h2 class="bodydicr">
                            Any Wagon You Want
                        </h2>
                        <p class="bottomdicr">
                            Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                        </p>
                        <div class="button_gruop_slider">
                            <button class="btnSlider">
                                    Buy
                                </button>
                            <button (click)="goSellCar()" class="btnSlider sell"> sell </button>
                        </div>
                    </div>
                    <img src="./assets/Site_Images/truckSliderIcon.svg" title="truck" />

                </div>
                <div class="swiper-slide">
                    <div class="screen-slider-info">
                        <p class="headdicr">Search For </p>

                        <h2 class="bodydicr">
                            Any Wagon You Want
                        </h2>
                        <p class="bottomdicr">
                            Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                        </p>
                        <div class="button_gruop_slider">
                            <button class="btnSlider">
                                    Buy
                                </button>
                            <button (click)="goSellCar()" class="btnSlider sell">
                                    sell
                                </button>
                        </div>
                    </div>
                    <img src="./assets/Site_Images/motorSliderIcon.svg" title="motor" />

                </div>
                <div class="swiper-slide">
                    <div class="screen-slider-info">
                        <p class="headdicr">Search For </p>

                        <h2 class="bodydicr">
                            Any Wagon You Want
                        </h2>
                        <p class="bottomdicr">
                            Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                        </p>
                        <div class="button_gruop_slider">
                            <button class="btnSlider">
                                    Buy
                                </button>
                            <button (click)="goSellCar()" class="btnSlider sell">
                                    sell
                                </button>
                        </div>
                    </div>
                    <img src="./assets/Site_Images/farmSliderIcon.svg" title="farm" />


                </div>
                <div class="swiper-slide">
                    <div class="screen-slider-info">
                        <p class="headdicr">Search For </p>

                        <h2 class="bodydicr">
                            Any Wagon You Want
                        </h2>
                        <p class="bottomdicr">
                            Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,Reach millions of buyers.Sell your cars, trucks,
                        </p>
                        <div class="button_gruop_slider">
                            <button class="btnSlider">
                                    Buy
                                </button>
                            <button (click)="goSellCar()" class="btnSlider sell">
                                    sell
                                </button>
                        </div>
                    </div>
                    <img src="./assets/Site_Images/carSliderIcon.svg" title="car" />

                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- end screen slider  -->

    <!-- start tapsSlider -->
    <div class="tapsSlider">
        <div class="swiper taps_swiper_container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Car</p>
                        <img class="imgProduct" src="./assets/Site_Images/car.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Motor</p>
                        <img class="imgProduct" src="./assets/Site_Images/motor.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Truck</p>
                        <img class="imgProduct" src="./assets/Site_Images/truck.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Bus</p>
                        <img class="imgProduct" src="./assets/Site_Images/bus.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Farm</p>
                        <img class="imgProduct" src="./assets/Site_Images/farm.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Car</p>
                        <img class="imgProduct" src="./assets/Site_Images/car.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Car</p>
                        <img class="imgProduct" src="./assets/Site_Images/car.svg" alt="Image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="conatiner_tapsBox">
                        <p>Car</p>
                        <img class="imgProduct" src="./assets/Site_Images/car.svg" alt="Image">
                    </div>
                </div>
            </div>
            <div (click)="swiperTaps.slideNext()" class="swiper-button-next">
                <img src="./assets/Site_Images/arrow_slider_right.svg">
            </div>
            <div (click)="swiperTaps.slidePrev()" class="swiper-button-prev">
                <img src="./assets/Site_Images/arrow_slider_left.svg">
            </div>
        </div>
    </div>
    <!-- end tapsSlider -->
    <!--################# end  Container Slider #################-->
