<div class="popupCrop">
    <div class="popup_overlay flex_center">
        <div class="popup_container">

            <div class="popup_header ">
                <h3>Upload Profile Image</h3>
                <p>Choose The Page And The Place According To Your Budget</p>
                <div class="closePopup">
                    <a (click)="cancel()"> <img src="./assets/Site_Images/cloes.svg" alt=""></a>
                </div>
            </div>

            <div class="popup_content">
                <div class="contentdata_popup upload-demo">
                    <div class="cropImage">
                        <img *ngIf="base64Image == ''" class="uploadempty" src="./assets/Site_Images/uploadPhoto.svg" alt="">
                        <img *ngIf="base64Image != ''" class="uploadempty" [src]="base64Image" alt="">
                        <input (change)="uploadImage($event)" type="file" accept="Image/*" class="file-input">
                    </div>
                </div><span class="hintSize">( 300 px X 300px ) or ( 600 px X 600px ) for HI-Def Quality</span>

            </div>
            <div class="popup_footer">
                <div class="button_group">
                    <button (click)="cancel()" class="changePhot">Cancel</button>
                    <button (click)="submit()" class="savePhot">Save Photo</button>
                </div>

            </div>


        </div>
    </div>
</div>
