 <!-- Start Register Page -->

 <div class="login_register">
    <div class="container-fluid normal_width ">
        <div class="login_register_Container">
            <div class="loginSection">
                <div class="headLogin_register">
                    <h2>Register</h2>
                </div>
                <ul class="registerList">
                    <li>Access Your Saved Searches Anywhere, Anytime, And From Any Device.</li>
                    <li>Save Specific Cars To Know When They Drop In Price Or Are Sold.</li>
                    <li>Receive Tailored Car Recommendations From Our Team.</li>
                </ul>
                <form [formGroup]="myFormGroup" (submit)="submit(myFormGroup.value)">
                <div class="re_de">
                    <p>Already Have A Profile? <a routerLink="/login">Login</a></p>
                </div>
                <div class="input_group_two">
                    <div class="input_group">
                        <label>First Name</label>
                        <input formControlName="firstName" type="text" placeholder="First Name">
                        <span *ngIf="myFormGroup.controls['firstName'].invalid && (myFormGroup.controls['firstName'].dirty || myFormGroup.controls['firstName'].touched)" class="required">required</span>
                    </div>
                    <div class="input_group">
                        <label>Last Name</label>
                        <input formControlName="lastName" type="text" placeholder="Last Name">
                        <span *ngIf="myFormGroup.controls['lastName'].invalid && (myFormGroup.controls['lastName'].dirty || myFormGroup.controls['lastName'].touched)" class="required">required</span>
                    </div>
                </div>
                <div class="input_group_two">
                    <div class="input_group">
                        <label>Phone Number</label>
                        <input formControlName="PhoneNumber" type="text" placeholder="Phone Number">
                        <span *ngIf="myFormGroup.controls['PhoneNumber'].invalid && (myFormGroup.controls['PhoneNumber'].dirty || myFormGroup.controls['PhoneNumber'].touched)" class="required">required</span>
                    </div>
                    <div class="input_group calender_in">
                        <label>Birthday</label>
                        <input formControlName="Birthday" type="date">
                        <img src="./assets/Site_Images/calender.svg" alt="">
                        <span *ngIf="myFormGroup.controls['Birthday'].invalid && (myFormGroup.controls['Birthday'].dirty || myFormGroup.controls['Birthday'].touched)" class="required">required</span>
                    </div>
                </div>
                <div class="input_group_radio">
                    <label>gender</label>
                    <div class="container_input_group_radio">
                        <label class="inputRadio">
                            <input formControlName="gender" value="Male" type="radio">
                            <span>Male</span>
                        </label>
                        <label class="inputRadio">
                            <input formControlName="gender" value="Female" type="radio">
                            <span>Female</span>
                        </label>
                        <span *ngIf="myFormGroup.controls['gender'].invalid && (myFormGroup.controls['gender'].dirty || myFormGroup.controls['gender'].touched)" class="required">required</span>
                    </div>
                </div>
                <div class="input_group">
                    <label>Email</label>
                    <input formControlName="email" type="text" placeholder="Email">
                    <span>Receive Tailored Car Recommendations From Our Team.</span>
                    <span *ngIf="myFormGroup.controls['email'].invalid && (myFormGroup.controls['email'].dirty || myFormGroup.controls['email'].touched)" class="required">required</span>
                </div>
                <div class="input_group">
                    <label>User Name</label>
                    <input formControlName="userName" type="text" placeholder="User Name">
                    <span *ngIf="myFormGroup.controls['userName'].invalid && (myFormGroup.controls['userName'].dirty || myFormGroup.controls['userName'].touched)" class="required">required</span>
                </div>
                <div class="input_group_two">
                    <div class="input_group">
                        <label>password</label>
                        <input formControlName="password" type="password" placeholder="Password">
                        <span *ngIf="myFormGroup.controls['password'].invalid && (myFormGroup.controls['password'].dirty || myFormGroup.controls['password'].touched)" class="required">required</span>
                    </div>
                    <div class="input_group">
                        <label>Confirm Password</label>
                        <input formControlName="ConfirmPassword" type="password" placeholder="Confirm Password">
                        <span *ngIf="myFormGroup.controls['ConfirmPassword'].invalid && (myFormGroup.controls['ConfirmPassword'].dirty || myFormGroup.controls['ConfirmPassword'].touched)" class="required">required</span>
                    </div>
                    
                </div>
                <div class="termsLogin_register">
                    <p> By Signing In To Your Profile, You Agree To Our <span>Privacy Statement</span> And <span>Terms Of Service</span>.</p>
                </div>
                <div class="buttonLogin_register">
                    <button>Register</button>
                </div>
            </form>
            </div>
            <div class="advertisementSection">
                <div class="pathss">
                    <img class="pathOne" src="./assets/Site_Images/Path_one_login.svg" alt="">
                    <img class="pathTwo" src="./assets/Site_Images/Path_two_login.svg" alt="">
                </div>
                <div class="login_info">
                    <img src="./assets/Site_Images/logo.svg" alt="">
                    <h2>Welcome to the website</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat facilis quibusdam debitis tempore, quos molestias, enim soluta quaerat perspiciatis veritatis cum suscipit perferendis vitae voluptatem minima assumenda ipsa consequuntur
                        numquam.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End Login Page -->
