<!-- Start Car Information-->

<div class="payment">
    <div class="container-fluid normal_width ">
        <div class="titleSell">
            <img src="./assets/Site_Images/homeSell.svg" alt="">
            <img src="./assets/Site_Images/arrowSell.svg" alt="">
            <p>Payment</p>
        </div>

        <div class="steps ">
            <div class="step_one step_active"> 1
                <div class="titleStep">
                    <img src="./assets/Site_Images/carInformation.svg" alt="">
                    <p>Car Information</p>
                </div>
            </div>
            <div class="step_line"></div>

            <div class="step_one step_active"> 2
                <div class="titleStep">
                    <img src="./assets/Site_Images/Newspaper.svg" alt="">
                    <p>Newspaper</p>
                </div>
            </div>
            <div class="step_line"></div>

            <div class="step_one step_active"> 3
                <div class="titleStep ">
                    <img src="./assets/Site_Images/confirm.svg" alt="">
                    <p>Confirmtion</p>
                </div>
            </div>
            <div class="step_line"></div>
            <div class="step_one step_active"> 4
                <div class="titleStep">
                    <img src="./assets/Site_Images/payment.svg" alt="">
                    <p>Payment</p>
                </div>
            </div>
        </div>

        <div class="containerSell">
            <div class="titleBoxSell">
                <h2>Payment</h2>
                <p>Please Make The Payment To Puplish Your Ad </p>
            </div>
            <div class="boxSell pagesContainer">

                <div class="row">
                    <div class="col-md-6">
                        <div class="order_table ">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Your Invoice Information </th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <td>Web And App

                                        </td>
                                        <td> $50.00</td>
                                    </tr>
                                    <tr>
                                        <td>Newspaer </td>
                                        <td> $50.00</td>
                                    </tr>
                                    <tr>
                                        <td>Sub-Total
                                        </td>
                                        <td>$215.00</td>
                                    </tr>
                                    <tr>
                                        <td>No Discount Available</td>
                                        <td>$215.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                    <tr>
                                        <th>10 % VAT</th>
                                        <td><strong>$5.00</strong></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Your Total Ad Price</th>
                                        <td><strong>$220.00</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="input_group">
                            <label for="">Name On Card</label>
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="input_group">
                            <label for="">Card Number</label>
                            <input type="text" placeholder="Card Number">
                        </div>
                        <div class="input_group">
                            <label for="">Expiry</label>
                            <input type="text" placeholder="Expiry">
                        </div>
                        <div class="input_group">
                            <label for="">Cvv</label>
                            <input type="text" placeholder="Cvv">
                        </div>
                        <div class="buttonPay">
                            <button>Pay 66,00 $</button>
                        </div>
                    </div>



                </div>

            </div>


        </div>


    </div>
</div>

<!-- end Car Information-->
