<div class="chooesType">
    <h2>Transmissions</h2>
    <div class="containerTyps">
        <div class="typeCars">
            <button (click)="Transmission('Manual')" class="{{Manual}}">
                <img src="./assets/Site_Images/manual.svg" alt="">
                <p>Manual</p>
            </button>
            <button (click)="Transmission('Automatic')" class="{{Automatic}}">
                <img src="./assets/Site_Images/automatic_Tran.svg" alt="">
                <p>Automatic</p>
            </button>
        </div>
        <div class="typeCars">
            <button (click)="Transmission('CVT')" class="{{CVT}}">
                <img src="./assets/Site_Images/CVT.svg" alt="">
                <p>CVT</p>
            </button>
        </div>
    </div>

</div>