<div class="itemsDealers">
    <div class="imageDealers">
        <img [src]="" alt="">
    </div>
    <div class="contentDealers">
        <h3>2222222222222</h3>
        <p class="openDeta">Opens From {{Cdealer.startTime}} to {{Cdealer.endTime}}</p>
        <div class="dflex_img">
            <p><img src="./assets/Site_Images/mobile_icon.svg" alt="">{{Cdealer.locationName}}</p>
            <p><img src="./assets/Site_Images/location_icon.svg" alt="">{{Cdealer.phoneNumber}}</p>
        </div>
    </div>
</div>