<!-- Start favorite-->

<div class="favorite">
    <div class="container-fluid normal_width">
      <div class="titleSell">
        <img src="./assets/Site_Images/homeSell.svg" alt="" />
        <img src="./assets/Site_Images/arrowSell.svg" alt="" />
        <p>favorite</p>
      </div>
  
      <div *ngIf="user && favoriteNumber > 0" class="">
        <div class="numberResualt">
          <h2>
            Favorite <span>{{ favoriteNumber }}</span>
          </h2>
        </div>
        <app-favorite></app-favorite>
        <app-favorite></app-favorite>
        <app-favorite></app-favorite>
        <app-favorite></app-favorite>
        <app-favorite></app-favorite>
        <app-favorite></app-favorite>
      </div>
      
      <app-empty *ngIf="!user || favoriteNumber == 0" [emptyPage]="'Your favorites list is empty'" [emptyHint]="emptyHint"></app-empty>
    </div>
    
  </div>
  
  <!-- end favorite-->
  