    <!-- Start Compare -->
   
                    <div class="itemTable_body">

                        <div class="withImg">
                            <img src="./assets/Site_Images/productCar.png">

                            <h3>Scokda</h3>
                        </div>
                        <div>
                            <h3>{{Citem.Trim}}</h3>
                        </div>
                        <div>
                            <h3>{{Citem.CarPrice}}</h3>
                        </div>
                        <div>
                            <h3>{{Citem.Transmission}}</h3>
                        </div>
                        <div>
                            <h3>{{Citem.EmbeddedRiders}}</h3>
                        </div>
                        <div>
                            <h3>{{Citem.Lottary}}</h3>
                        </div>
                        
                        <div>
                            <h3>{{Citem.EngineCapacity_1}}</h3>
                        </div>
                        <div>
                            <h3>{{Citem.EngineCapacity_1}}</h3>
                        </div>
                        <div class="btn_compare">
                            <button class=" detailsCompare">Details </button>
                            <button class=" removeCompare"> Remove Car </button>
                        </div>
                    </div>
                    <!-- end Compare -->